<div class="footer w-100 bg-primary d-flex bd-highlight" style="max-height: 100%; bottom: 0; position: fixed">
    <h1 class="mx-3 my-3 navbar-brand text-light flex-grow-1 bd-highlight">BETWEEN THE COVERS</h1>
        <h2 class="my-3 navbar-brand text-light bd-highlight">A GOLDEN PANDAS APP</h2>  
    <img src="/images/logo.png" width="75rem" height="75rem" class="bd-highlight mx-3">    
</div>
