<div class="container d-flex flex-wrap m-5 justify-content-center">
    <h1>Between the Covers</h1>
</div>
<div class="container d-flex flex-wrap m-5 justify-content-center">
    <div class="card d-flex">
        <div class="card-header">
            <div class="card-body mx-3 mb-3 d-flex justify-content-center">
                <div>
                    <form>
                        <label for="email">Email</label><br>
                        <input type="text" id="email" name="email"><br>
                        <label for="password">Password</label><br>
                        <input type="password" id="password" name="password"><br>
                        <button type="submit" id="login" class="btn-primary m-1">Login</button>
                    </form>
                    <p>New here? <a href>Create an Account</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
