<div class="container-fluid">
  <a class="navbar-brand" href="/">Between The Covers</a>
  <div class="navbar-nav nav " id="navbarColor02">
      <ul class="nav navbar-nav ms-auto">
          <!-- <li class="Dashboard mx-2 my-2">
              <a class="nav-link active btn btn-light text-primary" href="/dashboard">
                  Dashboard
                  <span class="visually-hidden">(current)</span>
              </a>
          </li>

          <li class="navbar-nav nav mx-2 my-2">
              <a class="nav-link active btn btn-light text-primary" id="logout" type="button" href="/">Logout</a>
          </li> -->
      </ul>
  </div>
</div>