<div class="container d-flex flex-wrap m-5">
    <div class="card d-flex">
        <div class="card-header">
            <div class="card-body mx-3 mb-3 d-flex justify-content-center">
                <div>
                    <form>
                        <label for="email">Email</label><br>
                        <input type="text" id="email" name="email"><br>
                        <label for="password">Password</label><br>
                        <input type="text" id="password" name="password"><br>
                        <button type="submit" id="login" class="primary">Login</button>
                    </form>
                    <p>New here? Create an Account</p>
                </div>
            </div>
        </div>
    </div>
</div>
