<div class="container d-flex flex-wrap m-5">
    <div class="card">
        <div class="card-header">
            <div class="card-body mx-3 mb-3 d-flex justify-content-center">
                <div>
                    <form>
                        <label for="fname">First Name</label>
                            <input type="text" id="fname" name="fname"><br>
                        <label for="lname">Last Name</label>
                            <input type="text" id="lname" name="lname"><br>
                        <label for="email">Email</label>
                            <input type="text" id="email" name="email"><br>
                        <label for="password">Create a password</label>
                            <input type="text" id="password" name="password"><br>
                        <label for="genre">What are your favorite genres?</label>
                            <input type="checkbox" name="genre" value="fantasy">Fantasy
                            <input type="checkbox" name="genre" value="adventure">Adventure
                            <input type="checkbox" name="genre" value="romance">Romance
                            <input type="checkbox" name="genre" value="contemporary">Contemporary
                            <input type="checkbox" name="genre" value="mystery">Mystery
                            <input type="checkbox" name="genre" value="horror">Horror
                            <input type="checkbox" name="genre" value="thriller">Thriller
                            <input type="checkbox" name="genre" value="historical-fiction">Historical Fiction
                            <input type="checkbox" name="genre" value="science-fiction">Science Fiction
                            <input type="checkbox" name="genre" value="memoir">Memoir 
                            <input type="checkbox" name="genre" value="self-help">Self-Help
                            <input type="checkbox" name="genre" value="health">Health 
                            <input type="checkbox" name="genre" value="travel">Travel 
                            <input type="checkbox" name="genre" value="how-to">How-To
                            <input type="checkbox" name="genre" value="academic">Academic 
                            <input type="checkbox" name="genre" value="history">History 
                            <input type="checkbox" name="genre" value="philosophy">Philosopy 
                            <input type="checkbox" name="genre" value="journalism">Journalism 
                            <input type="checkbox" name="genre" value="humor">Humor 
                        <button type="submit" id="create-acct" class="primary">Create Account</button>
                    </form>
                </div>
</div>
