<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/_head')%>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary"> <%- include('partials/_nav') %> </nav>
  <main>

<form data-bitwarden-watching="1">
    <fieldset>
      <legend>Create Your BookClub!</legend>
      <div class="form-group">
        <label class="col-form-label mt-4" for="inputDefault">Book Club Name:</label>
        <input type="text" class="form-control" placeholder="Name Your Club!" id="inputDefault" data-com.bitwarden.browser.user-edited="yes">
      </div>
      <div class="form-group">
        <label for="exampleSelect1" class="form-label mt-4">How Large Would You Like Your Club To Be?</label>
        <select class="form-select" id="exampleSelect1">
          <option>Less Than 5 People</option>
          <option>5-10</option>
          <option>11-15</option>
          <option>15-20</option>
          <option>Let The People Decide!</option>
        </select>
      </div>
   
      <div class="form-group">
        <label for="exampleTextarea" class="form-label mt-4">About The Club:</label>
        <textarea class="form-control" id="exampleTextarea" rows="3"placeholder="Say Something About Your Club!"></textarea>
      </div>
    
      <div class="form-group">
        <label for="formFile" class="form-label mt-4">Profile Picture</label>
        <input class="form-control" type="file" id="formFile">
      </div>
      <fieldset class="form-group">
        <legend class="mt-4">What Day Works Best For You?</legend>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Please Check All That Apply
          </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
            Monday
          </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Tuesday
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Wednesday
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Thursday
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Friday
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Saturday
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Sunday
            </label>
          </div>
      </fieldset>
      <fieldset class="form-group">
        <legend class="mt-4">What Time Works Best For You?</legend>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Please Check All That Apply
          </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
            Morning (9AM-11AM est)
          </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
            Early Afternoon (12PM-3PM est)
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
            Late Afternoon (4PM-7PM est)
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
            Evening (8PM-11PM est)
            </label>
          </div>
        </fieldset>
      <fieldset class="form-group">
        <legend class="mt-4" style="padding:5px">Pick Your Book</legend>
      <div class="form-group">
        <label class="col-form-label mt-4" for="inputDefault">By Name:</label>
        <input type="text" class="form-control" placeholder="Name Your Club!" id="inputDefault" data-com.bitwarden.browser.user-edited="yes">
      </div>
      <div class="form-group">
        <label class="col-form-label mt-4" for="inputDefault">By Author:</label>
        <input type="text" class="form-control" placeholder="Name Your Club!" id="inputDefault" data-com.bitwarden.browser.user-edited="yes">
      </div>
      
      <fieldset class="form-group">
        <legend class="mt-4">By Genre</legend>
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
            Fantasy
            </label>
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
            Sci-Fi
            </label>
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
            Mystery
            </label>
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
            Thriller
            </label>
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
            Romance
            </label>
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
            Westerns
            </label>
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
            Dystopian
            </label>
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
            Contemporary
            </label>
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
            Other
            </label>
      </fieldset>
      <br>
      <button type="submit" class="btn btn-primary">Submit</button>
    </fieldset>
  </form>
</main>
</body>