<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/_head')%>
</head>
<body style="overscroll-behavior: none;">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary"> <%- include('partials/_nav') %> </nav>
  <main style="position:fixed; top: 0; left:0; width: 100%; height:100%;">
        <div class="media-scroller my-5" style="position:absolute; top:0; left:0; width: 2800px; height:400px;">
            <div class="slider-inner" style="position: absolute; top: 15%; width:100%; height:70%; display: flex; ">
                <% clubs.forEach(club => { %>
                    <div class="block card border-primary mx-3" style="position:relative; width: 300px; height: 100%; overflow: hidden;">
                        <div class="card-body">
                            <h4 class="card-title"> <%= club.name %> </h4>
                            <div class="card-text"> <%=club.description %> </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
  </main>
</body>