<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/_head')%>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary"> <%- include('partials/_nav') %> </nav>
    <main>  
        <div>
            <div class="card">
                <div class="card-body">
                    <h2>Club 1</h2>
                    <p>This is a really fun club!!!</p>
                </div>
                <div class="card-body">
                    <h2>Club 2</h2>
                    <p>This is a really fun club!!!</p>
                </div>
                <div class="card-body">
                    <h2>Club 3</h2>
                    <p>This is a really fun club!!!</p>
                </div>
                <div class="card-body">
                    <h2>Club 4<h2>
                    <p>This is a really fun club!!!</p>
                </div>
                <div class="card-body">
                    <h2>Club 5</h2>
                    <p>This is a really fun club!!!</p>
                </div>
                <div class="card-body">
                    <h2>Club 6</h2>
                    <p>This is a really fun club!!!</p>
                </div>
                <div class="buttons">
                    <button></button>
                    <button></button>
                </div>
                </h2>
            </div>
        </div>
    </main>
</body>