<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/_head') %>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary"> <%- include('partials/_nav') %> </nav>
    <main><%- include('partials/_login')%></main>
    <footer><%- include('partials/_footer')%></footer>
  </body>
</html>
