<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/_head')%>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary"> <%- include('partials/_nav') %> </nav>
  <main>
    <h3 scope="col">Clubs:</h3>
    <table class="table table-hover">
      <tbody>
        <% data.clubs.forEach(club => { %>
          <tr class="table-primary" id="container">
              <th scope="row" style="text-align: center">
                  <a href=club-page/<%= club.id %> ><%= club.club_book %></a>
              </th>
          </tr>
          <% }) %>
      </tbody>
     </table>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/your-club-function.js"></script>
    </body>

